.activeElements {

    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-text-fill: white;
}

.InactiveElements {
    -fx-background-color: #454c56;

}

.scroll-pane {
    -fx-background-color:transparent;

}

.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #898a8a;
    -fx-background-radius: 10em;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;

}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
	
    -fx-shape: " ";
    -fx-padding: 0;

}
#stackPane {
    -fx-border-color: white;
    -fx-border-width: 2px 0px 0px 0px;
}

#resultButton {
-fx-background-color: #454c56;
    -fx-background-radius: 0;
    -fx-border-color: #fd5e26;
    -fx-border-width: 2px;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-text-fill: white;

}

.textFields {
    -fx-background-color: white;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;

}

